@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br />
            <h2>List Of Projects</h2>
            <ul>
                <li>SafeNet ATM Project</li>
                <li>File IO</li>
                <li>JavaScript</li>
                <li>MVC / C#</li>
                <li>Final Project</li>
            </ul>
        </div>

        <div class="col-md-6">
            <br />
            <a href="@Url.Action("Index", "SafeNet")" class="btn btn-lg btn-primary font-label">SafeNet ATM Project</a>
            <br />
            <br />
            <a href="@Url.Action("Index", "FileIO")" class="btn btn-lg btn-primary font-label">File IO</a>
            <br />
            <br />
            <a href="@Url.Action("JavaScript", "UnitConversion")" class="btn btn-lg btn-primary font-label">JavaScript</a>
            <br />
            <br />
            <a href="@Url.Action("MvcServer", "UnitConversion")" class="btn btn-lg btn-primary font-label">MVC / C#</a>
            <br />
            <br />
            <a href="@Url.Action("Index", "FinalProject")" class="btn btn-lg btn-primary font-label">Final Project</a>
        </div>
    </div>
</div>